
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');


:root{

    /*Colors*/
    --primary:white;
    --secondary:#24242459;
    --rojo:rgb(207, 14, 14);

    /*Spacings*/
    --spacing-large:4rem;
    --spacing-medimum:3rem;
    --spacing-small:2rem;

    /*font-family*/
    --font-principal:'PT Sans Narrow';

    /*font-sizes*/
    --text-large:10rem;
    --text-medimum:4rem;
    --text-small:3rem;
    --text-xsmall:2rem;
    



    

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}

body{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    " header"
    " main"
    " footer"
    ;   

    grid-template-rows: 200px auto 45px;
    grid-template-columns: auto;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--primary)
}

img{
    width: 100;
}

/*Header*/
header{
    display:flex;
    justify-content:center;
    align-items: center;
    background-image: url(./recursos/36779.jpg);
    font-family: 'PT Sans Narrow', sans-serif ;   
    
    
}
header{
    background-image: linear-gradient(black, rgb(207, 14, 14));
}

.header__img{
    width: 50%;
    height: 90%;
    
    
}

.menu{
    display: flex;
    gap: var(--spacing-small);
    justify-content: center;
    
}

.menu__link{
    font-size: var(--text-medimum);
    padding:var(--spacing-medimum);
    transition: all 1s;
    
}

.menu__link:hover{
    border-color: var(--text-base);
}
.menu__titulo{
    font-size: var(--text-xsmall);
    padding: var(--spacing-small);
    
    transition: all 1s;
}

.menu__titulo:hover{
    border-color: var(--text-base);
}



main{
    grid-area: main;
    background-image: url(./recursos/carniceria1.jpg);
    background-size: cover;
}



footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--spacing-small);
    background-image: url(./recursos/36779.jpg);
    font-family: 'PT Sans Narrow', sans-serif ;   
    
}

footer{
    background-image: linear-gradient(rgb(207, 14, 14), black);
}




.main__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 380px;
    padding: 20px;
    grid-gap: 10px;
    
}




.box{
    background-color: var(--secondary);
    font-family: var(--font-principal);
    color: var(--primary)
}




/*Fin del header*/

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    gap: 30px;
    background-image: url(/recursos/carniceria1.jpg);
    background-size: cover;
}

.cards{
    display: flex;
    justify-content: center;
}

.box__img{
    max-width: 700px;
    width: 100%;
}

/*galeria main*/
.fondo{
    grid-area: main;
    background-image: url(./recursos/fondo.avif);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.box{
    background-color: #24242465;
    justify-content: center;
    text-align: center;
    font-size: medium;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
}


.imagen{
    width: 100%;;
    height: 100%;
    object-fit: cover;
    
}

.footer__flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-medimum);

}

.footer__texto{
    font-size: var(--text-small);
    
}


.menu__link{
    transition: 2s;
}

.menu__link:hover{
    background-color: black;
    border-radius: 10px;
}

.footer__texto{
    transition: 2s;
}

.footer__texto:hover{
    background-color: black;
    border-radius: 10px;
}

.header__logo:hover{
    animation: movimiento 0.5s;
    animation-iteration-count: infinite;
}

.formulario__poiscion{
    margin-top: 20rem;
}

.descripcion{
    font-size: var(--text-large);
    color: var(--primary);
    font-family: var(--font-principal)
    
}

.form-register {
    width: 400px;
    background: #24303c;
    padding: var(--spacing-medimum);
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: var(--primary);
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    font-size: var(--text-small);
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: var(--spacing-small);
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid a000007e;
    font-family: 'calibri';
    font-size: var(--text-small);
    color: var(--primary);
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: var(--text-small);
    line-height: 40px;
}

.form-register a {
    color: var(--primary);
    text-decoration: none;
}

.form-register a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: var(--rojo);
    border: none;
    padding: var(--spacing-small);
    color: var(--primary);
    margin: 16px 0;
    font-size: var(--text-xsmall);
}



.header__img:hover{
    animation:movimiento 0.5s;
    animation-iteration-count: infinite;
}



@keyframes movimiento{
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -1px) rotate(-1deg);
    }
    20% {
        transform: translate(-1px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-1px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(1px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    90% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    100% {
        transform: translate(1px, -1px) rotate(-1deg);
    }
}

@media (max-width:1060px) {
    .menu{
        flex-direction: row;
        gap:5px;

    }

    .menu__link{
        font-size: var(--text-small);
    }
    
}

@media (max-width:899px) {
    .menu{
        
        flex-direction: column;
        gap: 5px;
        
        }

        .menu__link{
            font-size: var(--text-xsmall);
            height: 25px;
        }
}

@media screen and (max-width:789px){
    .menu{
        
        flex-direction: column;
        gap: 5px;
        
        }

        .menu__link{
            font-size:var(--text-small);
            height: 25px;
        }
}