/*fuentes*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap");
/*Colors*/
/*Spacings*/
/*font-family*/
/*font-sizes*/
/*Normalize*/
::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  display: grid;
  height: 100vh;
  grid-template-areas: " header"
 " main"
 " footer";
  grid-template-rows: 200px auto 45px;
  grid-template-columns: auto; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: white; }

img {
  width: 100; }

/*header*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/recursos/36779.jpg);
  font-family: 'PT Sans Narrow', sans-serif; }

header {
  background-image: linear-gradient(black, #cf0e0e); }

.header__img {
  width: 50%;
  height: 90%; }

.menu {
  display: flex;
  gap: 2rem;
  justify-content: center; }

.menu__link {
  font-size: 4rem;
  padding: 3rem;
  transition: all 1s; }

.menu__titulo {
  font-size: 2rem;
  padding: 2rem;
  transition: all 1s; }

.menu__link {
  transition: 2s; }

main {
  grid-area: main;
  background-image: url(./recursos/carniceria1.jpg);
  background-size: cover; }

.main__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 380px;
  padding: 20px;
  grid-gap: 10px; }

.box {
  background-color: #24242459;
  font-family: "PT Sans Narrow";
  color: white; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-image: url(/recursos/carniceria1.jpg);
  background-size: cover; }

.cards {
  display: flex;
  justify-content: center; }

.box__img {
  max-width: 700px;
  width: 100%; }

/*galeria main*/
.fondo {
  grid-area: main;
  background-image: url(./recursos/fondo.avif);
  background-repeat: no-repeat;
  background-size: cover; }

.box {
  background-color: #24242465;
  justify-content: center;
  text-align: center;
  font-size: medium;
  font-family: 'PT Sans Narrow', sans-serif;
  color: white; }

.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.formulario__poiscion {
  margin-top: 20rem; }

.descripcion {
  font-size: 10rem;
  color: white;
  font-family: "PT Sans Narrow"; }

.form-register {
  width: 400px;
  background: #24303c;
  padding: 3rem;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: var(--primary);
  box-shadow: 7px 13px 37px #000; }

.form-register h4 {
  font-size: 3rem;
  margin-bottom: 20px; }

.controls {
  width: 100%;
  background: #24303c;
  padding: 2rem;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid a000007e;
  font-family: 'calibri';
  font-size: 3rem;
  color: white; }

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 3rem;
  line-height: 40px; }

.form-register a {
  color: white;
  text-decoration: none; }

.form-register a:hover {
  color: var(--primary);
  text-decoration: underline; }

.form-register .botons {
  width: 100%;
  background: #cf0e0e;
  border: none;
  padding: 2rem;
  color: white;
  margin: 16px 0;
  font-size: 2rem; 
}
footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--spacing-small);
  background-image: url(./recursos/36779.jpg);
  font-family: 'PT Sans Narrow', sans-serif ;   
  
}

footer{
  background-image: linear-gradient(rgb(207, 14, 14), black);
}
footer__flexbox{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-medimum);

}

.footer__texto{
  font-size: var(--text-small);
  
}
.footer__texto{
  transition: 2s;
}

.footer__texto:hover{
  background-color: black;
  border-radius: 10px;
}

@media (max-width:1060px) {
  .menu{
      flex-direction: row;
      gap:5px;

  }

  .menu__link{
      font-size: var(--text-);
  }
  
}

@media (max-width:1060px) {
  .menu{
      flex-direction: row;
      gap:5px;

  }

  .menu__link{
      font-size: var(--text-small);
  }
  
}

@media (max-width:899px) {
  .menu{
      
      flex-direction: column;
      gap: 5px;
      
      }

      .menu__link{
          font-size: var(--text-xsmall);
          height: 25px;
      }
}

@media screen and (max-width:789px){
  .menu{
      
      flex-direction: column;
      gap: 5px;
      
      }

      .menu__link{
          font-size:var(--text-small);
          height: 25px;
      }
}

