//variables
/*Colors*/
$primary:white;
$secondary:#24242459;
$rojo:rgb(207, 14, 14);

/*Spacings*/
$spacing-large:4rem;
$spacing-medimum:3rem;
$spacing-small:2rem;

/*font-family*/
$font-principal:'PT Sans Narrow';

/*font-sizes*/
$text-large:10rem;
$text-medimum:4rem;
$text-small:3rem;
$text-xsmall:2rem;


//Map
$fuentes:( 
text-large:10rem,
text-medimum:4rem,
text-small:3rem,
text-xsmall:2rem,
    
    
)